In [23]:
English = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen']
Spanish = ['cero', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve', 'diez', 'once', 'doce', 'trece', 'catorce', 'quince', 'dieciseis', 'Diecisiete', 'Dieciocho', 'Diecinueve']
data = dict(zip(English, Spanish))

user_input = str(input("Enter a word to translate from English to Spanish (enter 0 to stop)"))
user = user_input.lower()

temp = data.get("%s" %user)
print(temp)
    
while user != '0': 
    
    user_input = str(input("Enter a word to translate from English to Spanish (enter 0 to stop)"))
    user = user_input.lower()

    temp = data.get("%s" %user)
    print(temp)

Enter a word to translate from English to Spanish (enter 0 to stop)one
uno
Enter a word to translate from English to Spanish (enter 0 to stop)two
dos
Enter a word to translate from English to Spanish (enter 0 to stop)three
tres
Enter a word to translate from English to Spanish (enter 0 to stop)0
None

In [33]:
key = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30]
value = [85,83,84,84,82,87,86,85,81,82,84,87,89,89,84,85,89,89,86,78,78,71,71,75,74,77,85,87,89,86]
data = dict(zip(key, value))

user = int(input("Enter the day of the month: "))

fahr = data.get(user)
def converter(fahr):
    celsius = (fahr - 32) * 5/9
    print(celsius)
converter(fahr)
    
high = max(data.values())
low = min(data.values())

for key in data:
    if data[key] == high:
        highest = key
        
for key2 in data:
    if data[key2] == low:
        lowest = key2

print("The day of the month with the highest temperature is %s" %highest)
print("The day of the month with the lowest temperature is %s" %lowest)

Enter the day of the month: 21
25.555555555555557
The day of the month with the highest temperature is 29
The day of the month with the lowest temperature is 23

### symmetric_difference() returns the elements that are in either A or B, but are not in common.

In [34]:
A = {'A', 'B', 'C', 'D'}
B = {'C', 'D', 'E'}

print(A ^ B)
print(B ^ A)

{'B', 'A', 'E'}
{'B', 'A', 'E'}

### .isdisjoint returns True if two sets are disjoint sets. Else, it returns False

In [36]:
A = {1,5,9,0}
B = {2,4,-5}

print("Are A and B disjoint?", A.isdisjoint(B))

Are A and B disjoint? True

### intersection_update updates the set calling intersection_update with the intersection of sets

In [37]:
A = {1,2,3,4}
B = {2,3,4,5}

result = A.intersection_update(B)

print("result = ", result)
print("A =", A)
print("B = ", B)

result =  None
A = {2, 3, 4}
B =  {2, 3, 4, 5}

### symmetric_difference (^=)

In [38]:
A = {'A', 'B', 'C', 'D'}
B = {'C', 'D', 'E'}

print(A ^= B)
print(B ^= A)

SyntaxError: invalid syntax (<ipython-input-38-431cc1f6276a>, line 4)

### remove() removes an item or an element from a list

In [39]:
myList = ["Bran", 11, 22, 33, "Stark", 22, 33, 11]
myList.remove(22)
myList

['Bran', 11, 33, 'Stark', 22, 33, 11]

### discard() removes an item or an element from a list if it is present, if the element is not present then no error will be raised

In [40]:
sets = set([10,20,26,41,54,20])
def remove(sets):
    sets.discard(20)
    print(sets)
remove(sets)

{41, 10, 54, 26}

### when using the pop() function we need to specify the index of the item we want to remove, rather than the element

In [41]:
myList = ["Bran", 11, 22, 33, "Stark", 22, 33, 11]
myList.pop(1)

11

### PA5, Jacob Schelonka, version 1.0, CS-150-02